

.input-label {
  display: flex;
  max-height: 50px;
  font-weight: lighter;
  font-size: large;
  margin-top: 15px;
}

.input-form {
  max-height: 50px;
  display: flex;
}

.input-field {
  width: 90%;
}

.settings-slider-container {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.settings-slider {
  display: flex;
  flex: 6;
  top: 3px;
}

.settings-label {
  display: flex;
  flex: 2;
}

.settings-menu {
  display: flex;
  justify-content: flex-start;
  height: 30px;
  flex-direction: row;

}

.settings-button {
  display: flex;
  flex: 1;
  background-color: #5CA7D5;
  height: 40px;
  opacity: 0.6;
  border: 0.1px solid #000000;
  border-right: none;

  p {
    margin: auto;
  }
}

.settings-button-active {
  opacity: 1.0;
}

.settings-panel {
  margin-left: 18px;
  padding-top: 40px;
}
