.input-label {
  display: flex;
  max-height: 50px;
  font-weight: lighter;
  font-size: large;
  margin-top: 15px;
}

.input-form {
  max-height: 50px;
  display: flex;
}

.input-field {
  width: 90%;
}

.settings-slider-container {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.settings-slider {
  display: flex;
  flex: 6;
  top: 3px;
}

.settings-label {
  display: flex;
  flex: 2;
}

.settings-menu {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  width: 80%;
  flex-direction: row;
}

.settings-button {
  display: flex;
  flex: 1;
  margin-right: -5px;
}

.menu-button-active {
  color: red;
}
