@import 'layout';
@import 'panels';
@import 'widgets';

$font: "BalooBhainaRegular";

@font-face {
    font-family:"BalooBhainaRegular";
    src: url("./BalooBhaina-Regular.ttf")
}

body {
  font-family: "BalooBhainaRegular";
}
